<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="bodyHeader" th:fragment="bodyHeader">
    <!-- 메뉴바 -->
    <div style="height: 85px;"></div>
    <header class="border-bottom pt-1 pb-1 fixed-top" style="border-color: grey; border-bottom: 2rem; background-color: white">
        <nav class="navbar navbar-expand-lg navbar-light mx-5 fs-6">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" height="50px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-5">
                            <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house"></i></i>&nbsp;&nbsp;홈</a>
                        </li>
                        <li class="nav-item ms-5">
                            <a class="nav-link" aria-current="page" href="/problem"><i class="fa-solid fa-book"></i>&nbsp;&nbsp;문제
                                &nbsp&nbsp&nbsp<span id="problem_badge" class="translate-middle badge rounded-pill bg-danger">
                            </span></a>
                        </li>
                        <li class="nav-item ms-5">
                            <a class="nav-link" href="/contest"><i class="fa-solid fa-trophy"></i>&nbsp;&nbsp;대회</a>
                        </li>
                        <li class="nav-item dropdown ms-5">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user-group"></i>&nbsp;&nbsp;스터디 그룹
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/team">스터디 정보</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- 로그인 전 -->
                    <ul sec:authorize="isAnonymous()" class="navbar-nav">
                        <li class="nav-item ms-5">
                            <a class="nav-link" aria-current="page" href="/auth/login">&nbsp;로그인</a>
                        </li><li class="nav-item ms-3">
                        <a class="nav-link" aria-current="page" href="/auth/signup">&nbsp;회원가입</a>
                    </li>
                    </ul>
                    <!-- 로그인 후 -->
                    <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                        <li class="nav-item dropdown" style="width: 300px">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUsername" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img id="profile-img" src="/img/default_profile.png" width="30px" style="border-radius: 100%;"/>&nbsp
                                <span th:text="${principal.getUsername()}"></span>
                                <span id="profile-bojusername" th:text="${boj_username}" style="display: none;"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <script>
        document.querySelector("#problem_badge").innerText = localStorage.length;
        const img_url = document.querySelector("#profile-img");
        let boj_username = document.querySelector("#profile-bojusername");
        fetch(`https://solved.ac/api/v3/user/show?handle=${boj_username.textContent}`)
            .then((response)=>{return response.json();})
            .then((items)=>{
                if(img_url !== null)
                    img_url.src = items['profileImageUrl'];
            });
    </script>
    <!-- 여기까지 메뉴바 -->
</div>
</html>