<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: header"/>
<meta charset="UTF-8">
<title>채팅 서비스</title>
</head>
<body>
<div th:replace="layout/bodyHeader :: bodyHeader"/>

<div class="container">
  <div class="row" style="margin:50px auto">
    <div class="col-md-6">
      <img src="/img/chat.png" width="100%" style="margin-top: 5px"/>
    </div>
    <div class="col-md-6" style="border-left:1px solid #cccccc;">
      <div style="margin-top: 50px;text-align:center;width: 70%;border:1px solid #cccccc;border-radius: 10px; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); background-color: white">
        <input type="text" id="nickname" class="form-inline" placeholder="닉네임을 입력해주세요" required autofocus>
        <button class = "btn btn-primary" id = "name">확인</button>
        <div id = "chatroom" style = "width:400px; height: 600px; background-color : white"></div>
        <input type = "text" id = "message" style = "height : 30px; width : 340px" placeholder="내용을 입력하세요" autofocus>
        <button class = "btn btn-primary" id = "send">전송</button>
        <div class="bg_logo"></div>
      </div></div></div></div>
<script>

</script>
<div th:replace="layout/footer :: footer" />
</body>
<script>
        var webSocket;
        var nickname;
        document.getElementById("name").addEventListener("click", function(){
            nickname = document.getElementById("nickname").value;
            document.getElementById("nickname").style.display="none";
            document.getElementById("name").style.display="none";
            connect();
        })
        document.getElementById("send").addEventListener("click",function(){
            send();
        })
        function connect(){
            webSocket = new WebSocket("ws://localhost:8000/chat");
            webSocket.onopen = onOpen;
            webSocket.onclose = onClose;
            webSocket.onmessage = onMessage;
        }
        function disconnect(){
            webSocket.send(nickname + "님이 퇴장하셨습니다");
            webSocket.close();
        }
        function send(){
            msg = document.getElementById("message").value;
            webSocket.send(nickname + " : " + msg);
            document.getElementById("message").value = "";
        }
        function onOpen(){
            webSocket.send(nickname + "님이 입장하셨습니다.");
        }
        function onMessage(e){
            data = e.data;
            chatroom = document.getElementById("chatroom");
            chatroom.innerHTML = chatroom.innerHTML + "<br>" + data;
        }
        function onClose(){
        }
    </script>
</html>