h1 {
    font-weight: bold;
    color: white;
    background-color: rgb(13, 19, 70);
    width: 11rem;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 10px;
}

.bg_logo {
    height: 580px;
    background-image: url(../img/bg_logo.png);
    background-size: 50rem;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-top: 15rem;
    padding-left: 35rem;
    opacity: 10%;
}

button i {
    color: #fff;
}

button {
    background-color: rgb(13, 19, 70);
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
}
